.dropbtn {
    background-color: #0c0c0c;
    color: white;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-right: -30px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #0c0c0c;}
  .dropdown-content a:hover {color: #ffffff;}
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #005662;}